.detail{
    text-align: center;
}
.pd{
    text-align: center;
}

.profile{
    background-color:lemonchiffon;
}
.pfl{
    background-color: antiquewhite;
    
}
.total{
    background-color: lightgray;
}